.primary {
    color: $primary !important;
}

.secondary {
    color: $secondary !important;
}

.error {
    color: $error !important;
}

.info {
    color: $info !important;
}

.success {
    color: $success !important;
}

.warning {
    color: $warning !important;
}