/**
 * Colors 
 */
$gray-dark: rgba(0,0,0,.85);
$gray: rgba(0,0,0,.6);
$gray-light: rgba(0,0,0,.2);

$off-white: darken(white, 3%);

/**
 * Fonts
 */
$font-family-snas-serif: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family-code: 'Source Code Pro', Arial;