@import '../../../assets/styles/variables';

.Toolbar {
	width: 100%;
	// position: fixed;
	// top: 0;
	// left: 0;
	border-bottom: solid 1px $gray;
	margin-bottom: 2rem;
	// height: 36px;
	// width: 100%;
	// position: fixed;
	// top: 0;
	// left: 0;
	// display: flex;
	// justify-content: space-between;
	// align-items: center;
	// padding: 0 20px;
	// box-sizing: border-box;
	// border-bottom: solid 1px black;
	// z-index: 90;

	nav {
		height: 100%;
	}

	.Logo {
		display: flex;
		flex-flow: column;
		width: 100%;
		height: 80%;
		align-items: center;		
	}
}

@media (max-width: 499px) {
	.DesktopOnly {
		display: none;
	}
}