@import '../../assets/styles/variables';

.RequestLogs {
    .filterContainer {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 1rem;

        .filterInputsContainer {
            display: flex;
            flex: 4;            
            flex-direction: row;
            flex-wrap: wrap;

            .formGroup {
                min-width: 80px;
                margin-right: 1rem;
                margin-bottom: 1rem;
            }
        }

        .filterButtonsContainer {
            display: flex;
            flex: 1;
            justify-content: flex-end;
            align-items: center;

            button {
                margin-left: .8rem;
            }
        }
    }

    .pagerContainer {
        display: flex;
        justify-content: flex-end;

        font-size: $font-size-sm;
        color: $gray;
    }
}
