
@import '../../assets/styles/variables';

.UsersScreen {

}

.UserTable {
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    border-bottom: solid 1px $gray-light;
}

.UserForm {
    width: 100%;
    max-width: 500px;
}